.quote{ :id => "#{quote.id}" }
  %p.quote-author
    %strong= link_to quote.author, author_path(quote.author)
  %p.quote-body
    = quote.body
  %p
    = link_to '#', "#{root_url + quote_path(quote.id)[/\/(.+)/, 1]}", :class => "shorten" 
    - if logged_in? 
      = link_to t(:edit), edit_quote_path(quote) 
      = link_to t(:delete), quote, :confirm => 'Are you sure?', :method => :delete 
      = link_to t(:approve), "/quotes/#{quote.id}/approve", :confirm => t(:r_u_sure) 

