<%= render 'form' %>
<br /><hr /><br />
<% @quotes.each do |quote| %>
  <div class="quote">
    <p class="quote-author"><strong><%= link_to quote.author, author_path(quote.author) %></strong></p>
    <p class="quote-body"><%= quote.body %></p>
    <p>
      <%= link_to '#', quote %>
      <% if logged_in? %>
        &nbsp;<%= link_to t(:edit), edit_quote_path(quote) %>
        &nbsp;<%= link_to t(:delete), quote, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </p>
  </div>
  <br />
<% end %>

<br />

<%= #render 'nav_menu', :locals => { :nav_menu => @nav_menu } %>
