<h1>Latest quotes</h1>

<% @quotes.each do |quote| %>
  <div class="quote">
    <p class="author"><strong><%= quote.author %></strong></p>
    <p class="quote-body"><%= quote.body %></p>
    <p>
	    <%= link_to '#', quote %> |
	    <%= link_to 'Edit', edit_quote_path(quote) %> |
	    <%= link_to 'Destroy', quote, :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </div>
  <br />
<% end %>

<br />

<nav class="menu">
  <ul>
    <li><%= link_to 'Add', new_quote_path %></li>
  </ul>
</nav>
