<% @quotes.each do |quote| %>
  <div class="quote">
    <p class="quote-author"><strong><%= link_to quote.author, "#{quotes_path}#{quote.author}" %></strong></p>
    <p class="quote-body"><%= quote.body %></p>
    <p>
      <%= link_to '#', quote %>
      <% if admin? %>
        &nbsp;<%= link_to 'Edit', edit_quote_path(quote) %>
        &nbsp;<%= link_to 'Destroy', quote, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </p>
  </div>
  <br />
<% end %>

<br />

<%= render 'nav_menu', :locals => { :nav_menu => @nav_menu } %>
