<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @quote.author %>
</p>

<p>
  <b>Body:</b>
  <%= @quote.body %>
</p>

<p>
  <b>Approved:</b>
  <%= quote.approved %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
