<p id="notice"><%= notice %></p>
<br />
<p>
  <b>Author:</b>
  <%= @quote.author %> ( <%= approved %> )
</p>

<p class="quote-body">
  <%= @quote.body %>
</p>

<nav class="menu">
  <p>#<%= @quote.id %></p>

  <ul>
    <li><%= link_to 'Edit', edit_quote_path(@quote) %></li>
    <li><%= link_to 'Back', quotes_path %></li>
  </ul>
</nav>
