<!DOCTYPE html>
<html>
<head>
  <title>StrongSword</title>
  <%= stylesheet_link_tag 'moo.css' %>
  <%= stylesheet_link_tag 'humanity/jquery-ui-1.8.8.custom.css' %>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'autocomplete.js' %>
  
  <%= csrf_meta_tag %>
</head>
<body>

<div class="content">
<%= yield %>
</div>

</body>
</html>
